h1{
    color: blanchedalmond;
}

a{
    color: blanchedalmond;
}

#indexLorem{
    text-align: center;
    color: blanchedalmond;
}

#indexBod{
    background-color: darkslategrey;
    
}

#aboutBod{
    background-color: darkslategrey;   
}

#aboutDiv{
    margin-top: 50px;
    text-align: center;
    color: blanchedalmond;
}

#aboutDiv2{
    margin-top: 30px;
    color: blanchedalmond;
}


/* #aboutLorem{
    text-align: center;
    color: blanchedalmond;
} */

#formBody{
    background-color: darkslategrey;
    text-align: center;
}

#formBtn{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

#formTextArea{
    color: blanchedalmond;
}

#resultsBody{
    background-color: darkslategrey;
    text-align: center;
    color: blanchedalmond;
}

#theNav{
    margin-bottom: 50px;
    color: blanchedalmond;
}

#theFooter{
    text-align: center;
    color: blanchedalmond;
}